.cartTitle {
  text-align: center;
}

.productName {
  width: 40%;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

.productNameTitle {
  width: 40%;
  text-align: center;
  padding: 5px;
}

.quantity {
  width: 20%;
  text-align: center;
}

.total {
  text-align: right;
}

.totalContainer {
  height: 100px;
}
