.item1 {
  grid-area: header1;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  padding-top: 2%;
  top: 100%;
}
.desc {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  color: #000000;
  padding-top: 2%;
}
.main {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 10%;
}
.card-contrainer {
  grid-area: header;
  width: 850px;
  height: 900px;
  overflow: hidden;
  margin-left: 5%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px 12px 12px 12px;
}
.card-contrainer2 {
  grid-area: footer;
  width: 850px;
  height: 100px;
  overflow: hidden;
  margin-left: 5%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
  background: #d2d2d2;
}
.card-contrainer4 {
    grid-area: log;
  width: 500px;
  height: 40%;
  overflow: hidden;
  margin-left: 5%;
  border-color: black;
  padding: 10px;
  background: rgb(235, 233, 233);
  position: relative;
  top: 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  border: 1px solid #676767;
  border-radius: 8px;
  
}
.card-contrainer3 {
  grid-area: sum;
  width: 500px;
  height: 105%;
  overflow: hidden;
  margin-left: 5%;
  border-color: black;
  border-radius: 12px 12px 12px 12px;
  padding: 15px;
  background: rgb(235, 233, 233);
  position: relative;
}
.top {
  overflow: hidden;
  height: 300px;
  background: #d2d2d2;
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
}
.middle {
  overflow: hidden;
  height: 300px;
  background: rgb(235, 233, 233);
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
}
.bottom {
  overflow: hidden;
  height: 300px;
  background: rgb(235, 233, 233);
}


.main2 {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "footer footer footer footer footer footer";
  row-gap: 5%;
}
.summaryMainDiv {
    display: grid;
    grid-template-areas:
      "log log log log log log"
      "sum sum sum sum sum sum";
    row-gap: 5%;
  }

.addAnother {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  left: 10%;
  top: 30%;
}
.selectText {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  left: 10%;
  top: 10%;
}
.type {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  left: 10%;
  top: 20%;
}
.typeAmount {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  left: 10%;
  top: 20%;
}
.types {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  left: 5%;
}
.deets {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  left: 5%;
}
.deetsLabel {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  left: 8%;
  top: 50%;
}
.validity {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  right: 18%;
  top: 50%;
}
.renewLabel {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  top: 10%;
  left: 10%;
}

.small1 {
  grid-area: header;
width: 125px;
height: 56px;
font-style: normal;
font-weight: 600;
font-size: 25px;
background: white;
border: 1px solid #676767;
border-radius: 8px;
}
.small2 {
  grid-area: footer;
  width: 125px;
  height: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  background: white;
  border: 1px solid #676767;
  border-radius: 8px;
}
.big1 {
  grid-area: menu;
  
  width: 125px;
  height: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  background: white;
  border: 1px solid #676767;
  border-radius: 8px;
}
.big2 {
  grid-area: main;
 
  width: 125px;
  height: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  background: white;
  border: 1px solid #676767;
  border-radius: 8px;
}
.big3 {
  grid-area: right;
 
  width: 125px;
  height: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  background: white;
  border: 1px solid #676767;
  border-radius: 8px;
}
.cards {
  display: grid;
  grid-template-areas:
    "   header   menu main right"
    "   footer   menu main right";
    position: relative;
    bottom: 10%;
    left: 0%;
    padding: 100px;
}

.newSIM {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    left: 10%;
    top: 10%;
  }
  .simType {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    left: 10%;
    top: 15%;
  }
  .radioInput1 {
    color: black;
    right:10%;
    font-style: normal;
    font-weight: 500;
    position: relative;
    font-size: 17px;
    
  }
  .radioInput2 {
    position: relative;
    right:15%;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
  }
  .radio-container1 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
  }
  .radio-container2 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto ;
  }
  
  .simContainer
  {
    display: grid;
    grid-template-columns: auto auto;
    top: 25%;
    position: relative;
    left: 10%;
  }
  .inputIcon{
    width: 15%;
  }

  .simDescP {
    color: black;
    right:10%;
    font-style: normal;
    font-weight: 400;
    position: relative;
    font-size: 15px;
    padding-top: 5%;
  }
  .simDescE {
    color: black;
    right:15%;
    font-style: normal;
    font-weight: 400;
    position: relative;
    font-size: 15px;
    padding-top: 5%;
  }
  .summary {
    position: relative;
  
    border-bottom: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    padding-bottom: 5%;
    border-color: #676767;
  }
  .summaryLabel
  {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    left: 35%;
    top: 5%;
  }

  .summaryType {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    top: 30%;
  }
  .summaryTypeAmount {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    left: 35%;
    top: 30%;
  }
  .summaryTypes {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: 5%;
  }
  
  .sumType {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    top: 50%;
  }
  .sumTypeAmount {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    left: 47%;
    top: 50%;
  }
  .sumTypes {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: 5%;
    top:2%;
  }

  .sumDeets {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top:2%;
    border-bottom: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    padding-bottom: 10%;
    border-color: #676767;
  }
  .sumDeetsLabel {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    left:7%;
    top: 50%;
  }

  .delivery {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    
    padding-top:10% ;
    padding-bottom: 10%;
    border-bottom: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #676767;
  }
  
  .deliveryType {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    top: 50%;
    left:9%
  }
  .deliveryTypeAmount {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    left: 67%;
    top: 50%;
  }
  .promo
  {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
  .promoDiv
  {
    padding-top: 2%;
    position: relative;
    top:10%;
    max-height: 2px;
    left: 3%;
    padding-bottom: 5%;
   

  }
  .promoDivBox
  {
    position: relative;
    top:10%;
    max-height: 2px;
    left: 3%;
    

  }

  .promoBox
  {
    width: 55%;
    height: 60px;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      background: white;
      border: 1px solid #676767;
      border-radius: 8px;
      
  }
  .applyDivBox
  {
    position: relative;
    left: 62%;
    bottom: 43%;
  }
  .applyBox
  {
    width: 35%;
    height: 61px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    border: 1px solid #676767;
    border-radius: 8px;

    

  }
 
  .applyBox:hover
  {
   background-color: black;
   color: white;
    

  }
  .applyPromoDiv
  {
    padding-bottom: 10%;
    border-bottom: 2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: black;
  }

  .total {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    
    padding-top:2% ;
  
  }
  
  .totalType {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    top: 50%;
    left:9%
  }
  .totalAmount {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    left: 67%;
    top: 50%;
  }

  .tax {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    
    padding-top:2% ;
    padding-bottom: 20%;
  
  }
  
  .taxType {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    top: 50%;
    left:9%
  }
  .taxAmount {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: 79%;
    top: 50%;
  }
  .addButton {
    width: 65%;
    height: 50px;
    background: #696969;
    border-radius: 8px;
    position: relative;
  
    left: 19%;
    animation: ease-out transition 0.3s;
  }
  .addButton:hover {
    transform: scale(1.1);
    background: black;
  }
  
  .addButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
  
    color: #ffffff;
  }
  .email {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    left: 4%;
    color: rgba(6, 23, 210, 0.824);
    top: 5%;
  }